.Main {
  display: flex;
  flex-direction: column;
}

.TabList {
  display: flex;
  text-transform: uppercase;
}

.Header {
  display: flex;
  align-items: flex-end;
}

.Instruction {
  font-size: 1.5em;
}