.Main {
  display: flex;
  flex-direction: column;
}

.TabList {
  display: flex;
  text-transform: uppercase;
}

.Header {
  display: flex;
  align-items: flex-end;
}

.Instruction {
  font-size: 1.5em;
}

.tab {
  color: #fd530c;
}

.active {
  color: #becadf;
}

.Content {
  border: #becadf solid 0.3em;
  border-radius: 1em;
}
